{% extends "base.html" %}


{% block content %}

<div class="container pt-3">
    <h3>Twoje wypozyczenia</h3>
    <h4>- Książki:</h4>
    <ul>
        {% for ksiazka in ksiazki %}
        <li class="mb-2">{{ksiazka.tytul}} | Autor: {{ksiazka.autor}} | Gatunek: {{ksiazka.gatunek}}  <a href='/biblioteka/zwroc/ksiazki/{{ksiazka.id}}' class='btn btn-info btn-sm'>Oddaj</a></li>
        {% endfor %}
        
    </ul>
    <h4>- Filmy:</h4>
    <ul>
        {% for film in filmy %}
        <li class="mb-2">{{film.tytul}} | Reżyser: {{film.rezyser}} | Gatunek: {{film.gatunek}}  <a href='/biblioteka/zwroc/filmy/{{film.id}}' class='btn btn-info btn-sm'>Oddaj</a></li>
        {% endfor %}
    </ul>

    <h4>- Płyty muzyczne:</h4>
    <ul>    
        {% for plyta in plyty %}
        <li class="mb-2">{{plyta.tytul}} | Zespół: {{plyta.zespol}} | Gatunek: {{plyta.gatunek}}  <a href='/biblioteka/zwroc/plyty/{{plyta.id}}' class='btn btn-info btn-sm'>Oddaj</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock %}